<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<style>
    *{
        font-size: 20px;
    }
    .alert{
        height:3rem;
        margin-top:15px !important;
        padding:0.7rem;
    }
    .btn-close{
        height:10px !important;
    }
    .container{
        width: 30%;
    }
    .top{
        
    }

</style>
</head>
<body class="bg-light">
    {% if messages %}
    {% for i in messages %}
    {% if i.tags == 'success' %}
    <div class="alert alert-success alert-dismissible" style="width:50%; margin:0 auto;">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Success!</strong> {{i|striptags}}
      </div>
    {% endif %}
    {% if i.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible" style="width:50%; margin:0 auto;">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>ERROR!  </strong> {{i|striptags}}
      </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    

   
    
    
    <div class="container border p-3  mt-3 rounded bg-dark">
        <div class="top text-center text-white">
            <h4>Welcome <span style="color:yellow">{{ob.name}}</span> with ID <span style="color:yellow">{{ob.id}}</span></h4>
        </div>
        <div class="forms text-white">
            <form action="" class="form-group" method="post">
                {% csrf_token %}
                <label for="">Name</label>
                <input type="text" name="name" value="{{ob.name}}" class="form-control" required><br>
                <label for="">Email</label>
                <input type="text" name="email" value="{{ob.email}}" class="form-control" required>
                
                <br>
                <input type="submit" value="Update" class="btn px-5 btn-primary">


            </form>
        </div>
    
    </div>
    
</body>
</html>